# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\matti\IdeaProjects\UnsplittedFlowFormulation\.idea/dataSources/
/dataSources.local.xml
